@model WebDAFFinal.Models.monetary

@{
    ViewData["Title"] = "Delete";
}

<button type="button" onclick="location.href='@Url.Action("Index")'" class="button_create_back">Back to List</button>

<h3>Are you sure you want to delete this monetary donation?</h3>
<div class="delete-div">
    <hr />
    <dl class="row">
        <dt class="col-sm-4 category-text">
            Donation Added By:
        </dt>
        <dd class="col-sm-5 category-text1">
            @Html.DisplayFor(model => model.username)
        </dd>
        <dt class="col-sm-4 category-text">
            Amount Donatedt:
        </dt>
        <dd class="col-sm-5 category-text1">
            @Html.DisplayFor(model => model.amount_donated)
        </dd>
        <dt class="col-sm-4 category-text">
            Donation Date:
        </dt>
        <dd class="col-sm-5 category-text1">
            @Html.DisplayFor(model => model.donation_date)
        <dt class="col-sm-4 category-text">
            Donated By:
        </dt>
        <dd class="col-sm-5 category-text1">
                @{
                    if (Model.is_anonymous == WebDAFFinal.Models.monetary.AnonymousType.Yes)
                    {
                        @Html.DisplayFor(model => model.donator)
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.donator)
                    }
                }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="monetary_id" />
        <input type="submit" value="Delete" class="btn btn-delete" />
    </form>
</div>
