@model WebDAFFinal.Models.purchased_goods

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>purchased_goods</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.item_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.item_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.item_description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.item_description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.item_category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.item_category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.number_of_items)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.number_of_items)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.purchased_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.purchased_date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.purchased_goods_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
